<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/index.css">
    <title>Login</title>
</head>
<body>
    

    <div class="auth-app">

        <div class="form">
            <div class="title">Sign in</div>
            <div class="sbtitle">Sign in to your account</div>

            <div class="label">Email adress or username</div>
            <br>
            <input type="text" placeholder="email adress or username">
            <br>
            <div class="label">Password</div>
            <br>
            <input type="password" placeholder="password">
            <button>sign in</button>
            <div class="footer">
                You don't have an account ? <span>Let's create</span>
            </div>
        </div>

    </div>

</body>
</html>