<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/index.css">
    <title>Document</title>
</head>
<body>
    

    <div class="auth-app">

        <div class="form">
            <div class="title">Sign up</div>
            <div class="sbtitle">Create your account</div>

            <div class="label">Username</div>
            <br>
            <input type="text" placeholder="username">
            <br>
            <div class="label">Email adress</div>
            <br>
            <input type="text" placeholder="email adress or username">
            <br>
            <div class="label">Password</div>
            <br>
            <input type="password" placeholder="password">
            <button>sign up</button>
            <div class="footer">
                You have an account ? <span>sign in</span>
            </div>
        </div>

    </div>

</body>
</html>