<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/index.css">
    <title>Home</title>
</head>

<body>

    <div class="home-app">

        <div class="side">
            <div class="ctn">
                <input type="text" placeholder="recherche">
                <div class="ttl">Friends</div>
                <div class="list">
                    <div class="item">
                        <div class="username">tooreestee.<span>@toore_312</span></div>
                        <div class="msg">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum praesentium unde maiores sit
                            consectetur distinctio enim. Reiciendis vitae, ea quis repellendus veniam cum quisquam
                            accusantium praesentium hic laboriosam cumque laborum!
                        </div>
                    </div>
                    <div class="item active">
                        <div class="ind"></div>
                        <div class="username">tooreestee.<span>@toore_312</span></div>
                        <div class="msg">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum praesentium unde maiores sit
                            consectetur distinctio enim. Reiciendis vitae, ea quis repellendus veniam cum quisquam
                            accusantium praesentium hic laboriosam cumque laborum!
                        </div>
                    </div>
                    <div class="item">
                        <div class="username">tooreestee.<span>@toore_312</span></div>
                        <div class="msg">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum praesentium unde maiores sit
                            consectetur distinctio enim. Reiciendis vitae, ea quis repellendus veniam cum quisquam
                            accusantium praesentium hic laboriosam cumque laborum!
                        </div>
                    </div>
                </div>
            </div>
            <button>logout</button>
        </div>
        <div class="chat-container">
            <div class="header-chat">
                <div class="user-info">
                    tooreestee <span>@toore_312</span>
                </div>
                <button><i class="fa-solid fa-xmark"></i></button>
            </div>
            <div class="messages-container">
                <div class="msg left"><span>slm</span></div>
                <div class="msg right"><span>slm</span></div>
                <div class="msg left"><span>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime quam excepturi, fuga quo
                        accusamus itaque sint a culpa numquam adipisci, laudantium nemo quis? Aut, cupiditate.
                        Exercitationem eaque voluptatem saepe dolore?
                    </span></div>
            </div>
            <div class="form">
                <input type="text" placeholder="write here ..." />
                <button><i class="fa-solid fa-paper-plane"></i></button>
            </div>
        </div>

    </div>

</body>

</html>