@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css");
@import url("./auth.css");
@import url("./home.css");

:root{

    --theme-color: #15a5d9;

}

*{
    margin: 0;
    padding: 0;
    outline: none;
}


body{
    font-family: Arial, Helvetica, sans-serif;
}