<div class="realstate3dsection">

    <div class="cover">
        <div class="content-cover">
            <div class="images">
                <img [src]="img" alt="image" *ngFor="let img of imagesSelected" (click)="selectImage(img)">
            </div>
            <div class="image imagePreview" [ngStyle]="{'backgroundImage':getBackground(imageSelected)}">
            </div>
            <div class="details">
                <div class="title">{{productSelected[0].title}}</div>
                <div class="price">{{productSelected[0].price}}.00 TND <span>{{productSelected[0].oldPrice}}.00
                        TND</span></div>
                <div class="box">{{productSelected[0].description}}</div>
                <div class="prods">
                    <div class="product" *ngFor="let prod of prods">
                        <div class="ctn" (click)="selectProduct(prod.ref)">
                            <img [src]="prod.images[0]" alt="image">
                            <div class="ttl">{{prod.title}}</div>
                            <div class="prc">{{prod.price}}.00 TND <span>{{prod.oldPrice}}.00 TND</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="realstate3dsection-mobile">

    <div class="header">
        <div class="btn"><i class="fa-solid fa-arrow-left"></i></div>
    </div>

    <div class="image imagePreview" [ngStyle]="{'backgroundImage':getBackground(imageSelected)}"></div>
    <div class="images">
        <img [src]="img" alt="image" *ngFor="let img of imagesSelected" (click)="selectImage(img)">
    </div>
    <div class="title">{{productSelected[0].title}}</div>
    <div class="price">{{productSelected[0].price}}.00 TND <span>{{productSelected[0].oldPrice}}.00
            TND</span></div>
    <div class="box">{{productSelected[0].description}}</div>
    <div class="prods">
        <div class="product" *ngFor="let prod of prods">
            <div class="ctn" (click)="selectProduct(prod.ref)">
                <img [src]="prod.images[0]" alt="image">
                <div class="ttl">{{prod.title}}</div>
                <div class="prc">{{prod.price}}.00 TND <span>{{prod.oldPrice}}.00 TND</span></div>
            </div>
        </div>
    </div>

</div>